<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
	<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
	{{#if showTests}}
	<link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
	{{/if}}
	<script type="text/javascript" src = "/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>  

    {{{_sections.head}}}
    {{{_sections.todolist}}}
</head>
<body>
	<header><img src="/img/logo.png" alt = "site logo"></header>
	{{{body}}}
	<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    {{#if showTests}}
	<div id = "mocha"></div>
	<script type="text/javascript" src = /vendor/mocha.js></script>
	<script type="text/javascript" src = /vendor/chai.js></script>
	<script type="text/javascript">
		mocha.ui("tdd");
		var assert = chai.assert;
	</script>
	<script type="text/javascript" src = /qa/test-globals.js></script>
	{{#if pageTestScript}}
	<script type="text/javascript" src = '{{pageTestScript}}'></script>
	{{/if}}
	<script type="text/javascript">
		mocha.run();
	</script>
    {{/if}}
    <!-- {{{_sections.jqtodolist}}} -->
</body>
</html>